.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: white;
    padding: 2px 25px;
  }
  
  .logo, .logoImg {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
  }

  .logoTitle {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    font-weight: 600;
    font-size: 18px;
  }

  .logo img {
    padding: 5px;
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--darkGreen);
    font-weight: 600;
    font-size: 17px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: rgb(6, 52, 105);
  }
  
  .nav-links a.active::after {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: #81AFB1;
    position: absolute;
    bottom: -5px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 50px;
  }
  