:root {
  --bg-color: #E3E8ED;
  --blue: #1E90FF;
  --green: #20C997;
  --darkGreen: #004347;
  --gray: #333333;
  --red: #D32F2F;
  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--gray);
  font-family: var(--font-family);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: var(--gray);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--blue);
}

button {
  font-family: var(--font-family);
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
  width: fit-content;
  font-size: 20px;
}

.btn-blue {
  background-color: var(--blue);
  color: white;
}

.btn-blue:hover {
  background-color: #187bcd;
}

.btn-green {
  background-color: var(--green);
  color: white;
}

.btn-green:hover {
  background-color: #1a9b74;
}

.btn-gradient {
  background: linear-gradient(90deg, var(--blue), var(--green));
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn-gradient:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
  box-shadow: 0px 4px 15px rgba(32, 201, 151, 0.3);
}

.btn-gradient-outline {
  background: transparent;
  color: var(--blue);
  border: 2px solid;
  border-image: linear-gradient(90deg, var(--blue), var(--green));
  border-image-slice: 1;
}

.btn-gradient-outline:hover {
  background: linear-gradient(90deg, var(--blue), var(--green));
  color: white;
}